

    

      <headeer>
         <nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
  
                  <a class="navbar-brand" href="/">  <img src="/frontent/images/logo.png" height="120" style="text-align:left"></a>
              
   
        <div class="header-call-to-action">
                  <ul>
                  
                         <li class="nav-item">
                           <a class="nav-link" href="/"> Home</a>
                         </li>
                      {{!-- see notepad in file kyasikha --}}

                          <li class="nav-item">
                           <a class="nav-link" href="/about-us">About-us</a>
                           
                         </li>
                        <li class="nav-item">
                           <a class="nav-link" href="/course">Packages</a>
                           
                         </li>
                   
                  </ul>
               </div>
    {{!-- <form class="d-flex">
     <a href="/login" class="btn btn-primary">Admin login</a>
    
    </form> --}}
  </div>
   </nav>
      </headeer>



  